<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1 class="container text-center">Here are our users</h1>
    <div class="container d-flex justify-content-center">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for one_user in users %}
                <tr>
                    <td>{{ one_user.first_name}}</td>
                    <td>{{ one_user.last_name}}</td>
                    <td>{{ one_user.email}}</td>
                    <td>{{ one_user.created_at}}</td>
                    <td>
                        <a href="/users/{{one_user.id}}/view">View</a> |
                        <a href="/users/{{one_user.id}}/edit">Edit</a> |
                        <a href="/users/{{one_user.id}}/view">Delete</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            <tfoot class="table-foot">
                <tr>
                    <td>
                        <a href="/users/add">Add a New User</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>